## 참고할만한 공유 코드

### EDA
1. [입문자의 투박한 EDA](https://dacon.io/competitions/official/235713/codeshare/2494?page=1&dtype=vote)
  - feature 별 target과 관계 확인
  - 데이터 타입 파악
2. [전처리, EDA하면서 발생한 의문점 공유드립니다.](https://dacon.io/competitions/official/235713/codeshare/2509?page=1&dtype=view)
  - 동일인물 있나?
3. [데이터 중복 이슈에 대한 데이터 분석 초보의 고찰](https://dacon.io/competitions/official/235713/codeshare/2522?page=1&dtype=view)
  - 위 코드와 같은 문제를 다룸
  - 동일 인물에 대한 시간에 따른 신용도 변화 추이로 해석

In [1]:
from urllib.request import urlretrieve

urlretrieve('https://drive.google.com/uc?export=download&id=1XLVFI_sK0smRVVuT8XU2s-M3lJT-68sN', './open.zip')

('./open.zip', <http.client.HTTPMessage at 0x7f1fbf1e79d0>)

In [2]:
!unzip ./open.zip

Archive:  ./open.zip
   creating: open/
  inflating: open/train.csv
  inflating: open/sample_submission.csv
  inflating: open/test.csv

In [3]:
import numpy as np
import pandas as pd

## 데이터 확인
### [데이터 변수 설명](https://www.dacon.io/competitions/official/235713/talkboard/402821/)
- index
- gender: 성별
- car: 차량 소유 여부
- reality: 부동산 소유 여부
- child_num: 자녀 수
- income_total: 연간 소득
- income_type: 소득 분류
  - ['Commercial associate', 'Working', 'State servant', 'Pensioner', 'Student']
- edu_type: 교육 수준
  - ['Higher education' ,'Secondary / secondary special', 'Incomplete higher', 'Lower secondary', 'Academic degree']
- family_type: 결혼 여부
  - ['Married', 'Civil marriage', 'Separated', 'Single / not married', 'Widow']
- house_type: 생활 방식
  - ['Municipal apartment', 'House / apartment', 'With parents', 'Co-op apartment', 'Rented apartment', 'Office apartment']
- DAYS_BIRTH: 출생일
  - 데이터 수집 당시 (0)부터 역으로 셈, 즉, -1은 데이터 수집일 하루 전에 태어났음을 의미
- DAYS_EMPLOYED: 업무 시작일
  - 데이터 수집 당시 (0)부터 역으로 셈, 즉, -1은 데이터 수집일 하루 전부터 일을 시작함을 의미. 양수 값은 고용되지 않은 상태를 의미함
- FLAG_MOBIL: 핸드폰 소유 여부
- work_phone: 업무용 전화 소유 여부
- phone: 전화 소유 여부
- email: 이메일 소유 여부
- occyp_type: 직업 유형													
- family_size: 가족 규모
- begin_month: 신용카드 발급 월
  - 데이터 수집 당시 (0)부터 역으로 셈, 즉, -1은 데이터 수집일 한 달 전에 신용카드를 발급함을 의미
- credit: 사용자의 신용카드 대금 연체를 기준으로 한 신용도
  - 낮을 수록 높은 신용의 신용카드 사용자를 의미함

In [4]:
train = pd.read_csv('./open/train.csv')
test = pd.read_csv('./open/test.csv')

In [5]:
train.info()  # occyp_type -> null data 갖는다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26457 entries, 0 to 26456
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          26457 non-null  int64
 1   gender         26457 non-null  object
 2   car            26457 non-null  object
 3   reality        26457 non-null  object
 4   child_num      26457 non-null  int64
 5   income_total   26457 non-null  float64
 6   income_type    26457 non-null  object
 7   edu_type       26457 non-null  object
 8   family_type    26457 non-null  object
 9   house_type     26457 non-null  object
 10  DAYS_BIRTH     26457 non-null  int64
 11  DAYS_EMPLOYED  26457 non-null  int64
 12  FLAG_MOBIL     26457 non-null  int64
 13  work_phone     26457 non-null  int64
 14  phone          26457 non-null  int64
 15  email          26457 non-null  int64
 16  occyp_type     18286 non-null  object
 17  family_size    26457 non-null  float64
 18  begin_month    26457 non-null  float64
 19  credit         26457 non-null  float64
dtypes: float64(4), int64(8), object(8)
memory usage: 4.0+ MB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          10000 non-null  int64
 1   gender         10000 non-null  object
 2   car            10000 non-null  object
 3   reality        10000 non-null  object
 4   child_num      10000 non-null  int64
 5   income_total   10000 non-null  float64
 6   income_type    10000 non-null  object
 7   edu_type       10000 non-null  object
 8   family_type    10000 non-null  object
 9   house_type     10000 non-null  object
 10  DAYS_BIRTH     10000 non-null  int64
 11  DAYS_EMPLOYED  10000 non-null  int64
 12  FLAG_MOBIL     10000 non-null  int64
 13  work_phone     10000 non-null  int64
 14  phone          10000 non-null  int64
 15  email          10000 non-null  int64
 16  occyp_type     6848 non-null   object
 17  family_size    10000 non-null  float64
 18  begin_month    10000 non-null  float64
dtypes: float64(3), int64(8), object(8)
memory usage: 1.4+ MB

In [7]:
train.head()

   index gender car reality  ...   occyp_type  family_size begin_month credit
0      0      F   N       N  ...          NaN          2.0        -6.0    1.0
1      1      F   N       Y  ...     Laborers          3.0        -5.0    1.0
2      2      M   Y       Y  ...     Managers          2.0       -22.0    2.0
3      3      F   N       Y  ...  Sales staff          2.0       -37.0    0.0
4      4      F   Y       Y  ...     Managers          2.0       -26.0    2.0

[5 rows x 20 columns]

In [8]:
# Student 매우 작음...
train['income_type'].value_counts()

Working                 13645
Commercial associate     6202
Pensioner                4449
State servant            2154
Student                     7
Name: income_type, dtype: int64

In [ ]:
len(train['index'].unique())

26457

## 공유 코드(EDA 2, 3)의 중복된 데이터 관련_1
> 그냥 다른 사람으로 생각하고 credit은 중복 데이터의 평균의 반올림으로 해볼까

- [Simple Baseline LGBM - LB 0.72728 - 최정명](https://dacon.io/competitions/official/235713/codeshare/2476?page=1&dtype=vote) 일부 참고

In [9]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [10]:
train1 = train.copy()

In [53]:
train1.head()

  gender car reality  child_num  ...   occyp_type family_size begin_month credit
0      F   N       N          0  ...          NaN         2.0        -6.0    1.0
1      F   N       Y          1  ...     Laborers         3.0        -5.0    1.0
2      M   Y       Y          0  ...     Managers         2.0       -22.0    2.0
3      F   N       Y          0  ...  Sales staff         2.0       -37.0    0.0
4      F   Y       Y          0  ...     Managers         2.0       -26.0    2.0

[5 rows x 19 columns]

In [12]:
train1 = train1.drop('index', axis=1)

In [14]:
# 아예 중복되는 행
np.sum(train1.duplicated(keep=False))

3155

In [17]:
# 타겟값을 제외하고 중복되는 행
np.sum(train1.drop(["credit"], axis = 1).duplicated(keep = False))

4497

In [34]:
dup_index = train1.drop(["credit"], axis = 1).duplicated(keep = False)
train1_dup = train1[dup_index]

In [35]:
train1_dup.shape

(4497, 19)

In [36]:
id_cols = train1_dup.columns.drop('credit')
id_cols

Index(['gender', 'car', 'reality', 'child_num', 'income_total', 'income_type',
       'edu_type', 'family_type', 'house_type', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'FLAG_MOBIL', 'work_phone', 'phone', 'email', 'occyp_type',
       'family_size', 'begin_month'],
      dtype='object')

In [41]:
train1_dup['id'] = train1_dup[id_cols].astype('str').apply(lambda x: '-'.join(x), axis=1)

In [42]:
train1_dup['id']

1        F-N-Y-1-247500.0-Commercial associate-Secondar...
2        M-Y-Y-0-450000.0-Working-Higher education-Marr...
19       F-N-Y-0-180000.0-Working-Secondary / secondary...
21       F-N-N-0-157500.0-Pensioner-Secondary / seconda...
24       F-N-N-0-202500.0-Pensioner-Secondary / seconda...
                               ...
26430    F-N-Y-0-112500.0-Working-Incomplete higher-Civ...
26431    F-N-Y-0-225000.0-Pensioner-Secondary / seconda...
26432    F-Y-Y-0-72000.0-Pensioner-Secondary / secondar...
26446    F-N-Y-0-135000.0-Working-Secondary / secondary...
26451    F-N-Y-0-202500.0-Working-Higher education-Marr...
Name: id, Length: 4497, dtype: object

In [43]:
train1_dup['id'].value_counts()

F-Y-Y-0-112500.0-Working-Secondary / secondary special-Civil marriage-House / apartment--13686--1256-1-0-0-0-Cooking staff-2.0--2.0     5
F-Y-N-0-315000.0-Working-Higher education-Married-Co-op apartment--13064--2286-1-1-0-0-Medicine staff-2.0--33.0                         5
F-N-Y-0-135000.0-Pensioner-Secondary / secondary special-Separated-House / apartment--20752-365243-1-0-0-0-nan-1.0--23.0                5
M-Y-Y-0-225000.0-Working-Secondary / secondary special-Married-House / apartment--11226--2236-1-0-0-0-Drivers-2.0--35.0                 4
F-N-Y-0-148500.0-Pensioner-Secondary / secondary special-Married-House / apartment--19276-365243-1-0-0-0-nan-2.0--22.0                  4
                                                                                                                                       ..
M-Y-Y-1-225000.0-Commercial associate-Secondary / secondary special-Married-House / apartment--15296--4244-1-1-0-0-Drivers-3.0--51.0    2
F-N-Y-0-135000.0-Pensioner-Higher education-Married-House / apartment--22747-365243-1-0-0-0-nan-2.0--41.0                               2
F-N-Y-0-225000.0-Working-Higher education-Married-House / apartment--16202--2939-1-1-1-0-Managers-2.0--7.0                              2
F-N-Y-0-126000.0-Working-Secondary / secondary special-Separated-House / apartment--21646--1283-1-1-1-0-Cleaning staff-1.0--39.0        2
F-Y-N-2-315000.0-Working-Secondary / secondary special-Married-Rented apartment--12209--840-1-0-1-1-nan-4.0--60.0                       2
Name: id, Length: 2144, dtype: int64

In [44]:
np.sum(train1_dup['id'].value_counts() == 2)

1960

In [54]:
np.sum(train1_dup['id'].value_counts() == 3)

162

In [55]:
np.sum(train1_dup['id'].value_counts() == 4)

19

In [56]:
np.sum(train1_dup['id'].value_counts() == 5)

3

In [47]:
train1_dup['id'].value_counts().shape

(2144,)

In [46]:
train1_dup.groupby('id')['credit'].mean()

id
F-N-N-0-103500.0-Pensioner-Secondary / secondary special-Married-House / apartment--24346-365243-1-0-0-0-nan-2.0--57.0                               2.0
F-N-N-0-108000.0-Commercial associate-Secondary / secondary special-Married-House / apartment--15803--9029-1-0-1-0-High skill tech staff-2.0--4.0    1.5
F-N-N-0-112500.0-Commercial associate-Higher education-Married-With parents--19721--1539-1-0-0-0-Accountants-2.0--1.0                                0.5
F-N-N-0-112500.0-Commercial associate-Incomplete higher-Married-House / apartment--10177--2339-1-0-1-0-nan-2.0--56.0                                 2.0
F-N-N-0-112500.0-Commercial associate-Secondary / secondary special-Married-House / apartment--17892--470-1-0-1-0-Sales staff-2.0--9.0               2.0
                                                                                                                                                    ...
M-Y-Y-3-180000.0-Working-Secondary / secondary special-Married-House / apartment--14192--824-1-1-1-0-High skill tech staff-5.0--23.0                 2.0
M-Y-Y-3-202500.0-Working-Secondary / secondary special-Married-House / apartment--13300--3668-1-0-1-0-nan-5.0--56.0                                  1.0
M-Y-Y-3-202500.0-Working-Secondary / secondary special-Married-House / apartment--13300--3668-1-0-1-0-nan-5.0--7.0                                   1.0
M-Y-Y-3-202500.0-Working-Secondary / secondary special-Married-House / apartment--16013--4785-1-0-1-1-nan-5.0--24.0                                  2.0
M-Y-Y-4-157500.0-Working-Higher education-Married-House / apartment--11380--1734-1-0-0-0-Managers-6.0--37.0                                          0.5
Name: credit, Length: 2144, dtype: float64

In [95]:
np.sum(train1_dup.drop('id', axis=1).duplicated())

1634

In [93]:
np.sum(train1_dup['id'].duplicated(keep='last'))

2353

In [92]:
len(set(train1_dup['id']))

2144

In [88]:
train1_dup.drop_duplicates(keep=False)['id'].value_counts()

F-N-Y-1-135000.0-Commercial associate-Higher education-Married-House / apartment--9778--2910-1-1-0-1-Core staff-3.0--50.0                            3
F-Y-N-0-31500.0-Commercial associate-Secondary / secondary special-Married-House / apartment--17762--7734-1-1-1-0-Cleaning staff-2.0--34.0           3
F-N-Y-0-180000.0-Working-Secondary / secondary special-Single / not married-House / apartment--14279--2939-1-0-0-0-Sales staff-1.0--59.0             3
F-Y-Y-0-202500.0-State servant-Higher education-Single / not married-House / apartment--22101--15038-1-0-1-0-nan-1.0--35.0                           3
F-N-N-0-49500.0-Pensioner-Higher education-Married-Municipal apartment--21157-365243-1-0-0-0-nan-2.0--11.0                                           3
                                                                                                                                                    ..
F-N-Y-0-297000.0-Commercial associate-Secondary / secondary special-Single / not married-Rented apartment--15519--3234-1-0-0-0-Laborers-1.0--1.0     1
F-N-Y-0-157500.0-State servant-Higher education-Married-House / apartment--15145--3654-1-0-1-0-Managers-2.0--29.0                                    1
F-N-Y-0-297000.0-Commercial associate-Secondary / secondary special-Single / not married-Rented apartment--15519--3234-1-0-0-0-Laborers-1.0--27.0    1
M-N-Y-0-148500.0-Working-Secondary / secondary special-Single / not married-House / apartment--11819--962-1-0-0-0-Laborers-1.0--3.0                  1
F-Y-N-0-202500.0-Commercial associate-Secondary / secondary special-Civil marriage-With parents--14228--5330-1-0-1-0-nan-2.0--33.0                   1
Name: id, Length: 704, dtype: int64