##Data Import

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error

train=pd.read_excel("2021 빅콘테스트_데이터분석분야_퓨처스리그_홍수ZERO_댐유입량,강우,수위데이터_210803.xlsx")
test=pd.read_excel("2021 빅콘테스트_데이터분석분야_퓨처스리그_홍수ZERO_평가데이터_210803.xlsx")

In [ ]:
train.head()

   홍수사상번호       연    월     일  ...  Unnamed: 44  Unnamed: 45 Unnamed: 46 Unnamed: 47
0     NaN     NaN  NaN   NaN  ...      강우(C지역)      강우(D지역)     수위(E지역)     수위(D지역)
1     1.0  2006.0  7.0  10.0  ...            8            8        2.54      122.61
2     1.0  2006.0  7.0  10.0  ...           10           10        2.53       122.6
3     1.0  2006.0  7.0  10.0  ...           10           11        2.53      122.59
4     1.0  2006.0  7.0  10.0  ...           15           14        2.53     122.585

[5 rows x 48 columns]

In [ ]:
train=train.drop(labels=0,axis=0)
column=['홍수사상번호','연','월','일','시간','유입량','1유역평균강수','1강우A','1강우B','1강우C','1강우D','1수위E','1수위D','2유역평균강수','2강우A','2강우B','2강우C','2강우D','2수위E','2수위D','3유역평균강수','3강우A','3강우B','3강우C','3강우D','3수위E','3수위D','4유역평균강수','4강우A','4강우B','4강우C','4강우D','4수위E','4수위D','5유역평균강수','5강우A','5강우B','5강우C','5강우D','5수위E','5수위D','6유역평균강수','6강우A','6강우B','6강우C','6강우D','6수위E','6수위D']
train.columns=column

In [ ]:
train.head(3)

   홍수사상번호       연    월     일    시간  ...  6강우B 6강우C 6강우D  6수위E    6수위D
1     1.0  2006.0  7.0  10.0   8.0  ...     7    8    8  2.54  122.61
2     1.0  2006.0  7.0  10.0   9.0  ...     8   10   10  2.53   122.6
3     1.0  2006.0  7.0  10.0  10.0  ...     9   10   11  2.53  122.59

[3 rows x 48 columns]

In [ ]:
train.info()
print("test 해야할 행 수 : ",3051-2891," == test 행 수")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3051 entries, 1 to 3051
Data columns (total 48 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   홍수사상번호   3051 non-null   float64
 1   연        3051 non-null   float64
 2   월        3051 non-null   float64
 3   일        3051 non-null   float64
 4   시간       3051 non-null   float64
 5   유입량      2891 non-null   float64
 6   1유역평균강수  3051 non-null   object
 7   1강우A     3051 non-null   object
 8   1강우B     3051 non-null   object
 9   1강우C     3051 non-null   object
 10  1강우D     3051 non-null   object
 11  1수위E     3051 non-null   object
 12  1수위D     3051 non-null   object
 13  2유역평균강수  3051 non-null   object
 14  2강우A     3051 non-null   object
 15  2강우B     3051 non-null   object
 16  2강우C     3051 non-null   object
 17  2강우D     3051 non-null   object
 18  2수위E     3051 non-null   object
 19  2수위D     3051 non-null   object
 20  3유역평균강수  3051 non-null   object
 21  3강우A     3051 non-null   object
 22  3강우B     3051 non-null   object
 23  3강우C     3051 non-null   object
 24  3강우D     3051 non-null   object
 25  3수위E     3051 non-null   object
 26  3수위D     3051 non-null   object
 27  4유역평균강수  3051 non-null   object
 28  4강우A     3051 non-null   object
 29  4강우B     3051 non-null   object
 30  4강우C     3051 non-null   object
 31  4강우D     3051 non-null   object
 32  4수위E     3051 non-null   object
 33  4수위D     3051 non-null   object
 34  5유역평균강수  3051 non-null   object
 35  5강우A     3051 non-null   object
 36  5강우B     3051 non-null   object
 37  5강우C     3051 non-null   object
 38  5강우D     3051 non-null   object
 39  5수위E     3051 non-null   object
 40  5수위D     3051 non-null   object
 41  6유역평균강수  3051 non-null   object
 42  6강우A     3051 non-null   object
 43  6강우B     3051 non-null   object
 44  6강우C     3051 non-null   object
 45  6강우D     3051 non-null   object
 46  6수위E     3051 non-null   object
 47  6수위D     3051 non-null   object
dtypes: float64(6), object(42)
memory usage: 1.1+ MB
test 해야할 행 수 :  160  == test 행 수

In [ ]:
test.head()

    NO  홍수사상번호       연    월    일   시간  유입량
0  NaN     NaN     NaN  NaN  NaN  NaN  NaN
1  1.0    26.0  2018.0  7.0  1.0  6.0  NaN
2  2.0    26.0  2018.0  7.0  1.0  7.0  NaN
3  3.0    26.0  2018.0  7.0  1.0  8.0  NaN
4  4.0    26.0  2018.0  7.0  1.0  9.0  NaN

In [ ]:
test=test.drop(labels=0 ,axis=0)

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 160 entries, 1 to 160
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NO      160 non-null    float64
 1   홍수사상번호  160 non-null    float64
 2   연       160 non-null    float64
 3   월       160 non-null    float64
 4   일       160 non-null    float64
 5   시간      160 non-null    float64
 6   유입량     0 non-null      float64
dtypes: float64(7)
memory usage: 10.0 KB

In [ ]:
print('train shape : ', train.shape, 'test shape : ',test.shape)

train shape :  (3051, 48) test shape :  (160, 7)

#년 월 시 별 평균

##연

In [ ]:
print(train['연'].unique())
years=[2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2017]

In [ ]:
graph_x=list()
graph_y=list()
for i in years:
    temp_mean=new_train[new_train['연']==i]['유입량'].mean()
    temp_len=len(new_train[new_train['연']==i])
    print(i,"년에서의 유입량 평균",temp_mean, "데이터수 : ",temp_len)
    graph_x.append(i)
    graph_y.append(temp_mean)

graph_x.sort()

년도별 데이터수가 많이 달라서 영향을 많이 미치는지는 않는 것 같다

https://www.etoday.co.kr/news/view/1925778

In [ ]:
plt.bar(graph_x,graph_y)
plt.ylim(700,4100)
plt.show()

##월

In [ ]:
print(train['월'].unique())

In [ ]:
graph_x=list()
graph_y=list()
for i in range(6,10):
    temp_mean=new_train[new_train['월']==i]['유입량'].mean()
    print(i,"월에서의 유입량 평균",temp_mean)
    graph_x.append(i)
    graph_y.append(temp_mean)

In [ ]:
plt.bar(graph_x,graph_y)
plt.ylim(1000,2000)
plt.show()

##시

In [ ]:
graph_x=list()
graph_y=list()
for i in range(1,25):
    temp_mean=new_train[new_train['시간']==i]['유입량'].mean()
    print(i,"시에서의 유입량 평균",temp_mean)
    graph_x.append(i)
    graph_y.append(temp_mean)

In [ ]:
plt.bar(graph_x,graph_y)
plt.ylim(1600,1820)
plt.show()

강우량:순수하게 비만 내린 것을 측정한 값<br>
강수량:강우량+강설량(눈)

##같은 열

In [ ]:
target_cols=[ '1강우A', '1강우B', '1강우C',
       '1강우D', '1수위E', '1수위D',  '2강우A', '2강우B', '2강우C', '2강우D',
       '2수위E', '2수위D',  '3강우A', '3강우B', '3강우C', '3강우D', '3수위E',
       '3수위D',  '4강우A', '4강우B', '4강우C', '4강우D', '4수위E', '4수위D',
        '5강우A', '5강우B', '5강우C', '5강우D', '5수위E', '5수위D',
       '6강우A', '6강우B', '6강우C', '6강우D', '6수위E', '6수위D']

for col1 in target_cols:
    for col2 in target_cols:
        if col1 !=col2 and len(train[train[col1]!=train[col2]]) ==0 :
            print(col1, col2)
            
2강우A 3강우A
4강우A 5강우A 6강우A

3강우B 4강우B 5강우B

4강우C 5강우C

1강우D 2강우D
4강우D 5강우D

1수위E 2수위E 3수위E 4수위E 5수위E 6수위E

1강우D 2강우D
1수위E 2수위E
1수위E 3수위E
1수위E 4수위E
1수위E 5수위E
1수위E 6수위E
2강우A 3강우A
2강우D 1강우D
2수위E 1수위E
2수위E 3수위E
2수위E 4수위E
2수위E 5수위E
2수위E 6수위E
3강우A 2강우A
3강우B 4강우B
3강우B 5강우B
3수위E 1수위E
3수위E 2수위E
3수위E 4수위E
3수위E 5수위E
3수위E 6수위E
4강우A 5강우A
4강우A 6강우A
4강우B 3강우B
4강우B 5강우B
4강우C 5강우C
4강우D 5강우D
4수위E 1수위E
4수위E 2수위E
4수위E 3수위E
4수위E 5수위E
4수위E 6수위E
5강우A 4강우A
5강우A 6강우A
5강우B 3강우B
5강우B 4강우B
5강우C 4강우C
5강우D 4강우D
5수위E 1수위E
5수위E 2수위E
5수위E 3수위E
5수위E 4수위E
5수위E 6수위E
6강우A 4강우A
6강우A 5강우A
6수위E 1수위E
6수위E 2수위E
6수위E 3수위E
6수위E 4수위E
6수위E 5수위E

#여러방법

In [ ]:
for col in train.columns:
    train[col]=train[col].astype(np.float64)

In [ ]:
new_train=train.iloc[:2891,:]
new_test=train.iloc[2891:,:]
X_train=new_train.drop(columns=['유입량'],axis=1)
Y_train=new_train['유입량']

## 아무것도 안 만짐

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_valid, y_train, y_valid = train_test_split(X_train, Y_train, test_size=0.15, random_state=42)

In [ ]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)
print(lr.score(x_valid,y_valid))

0.9040095586325729

In [ ]:
y_pred=lr.predict(x_valid)
mean_squared_error(y_valid, y_pred, squared=False)

707.7456362996647

##수위E 하나 빼고 다 drop

In [ ]:
X_train=X_train.drop(columns=['2수위E', '3수위E', '4수위E',  '5수위E', '6수위E'],axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_valid, y_train, y_valid = train_test_split(X_train, Y_train, test_size=0.15, random_state=42)

In [ ]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)
print(lr.score(x_valid,y_valid))

0.904009558632567

In [ ]:
y_pred=lr.predict(x_valid)
#RMSE
mean_squared_error(y_valid, y_pred, squared=False)

707.7456362996866

수위E는 다 같기 때문에 한 열만 남기고 drop해도 성능이 떨어지지 않는다

##7월만 남기기

In [ ]:
train.shape

(3051, 48)

In [ ]:
new_train=train.iloc[:2891,:]
new_test=train.iloc[2891:,:]
new_train=new_train[new_train['월'] == 7.0]
new_test=new_test[new_test['월'] == 7.0]
print(len(new_train)+len(new_test))
X_train=new_train.drop(columns=['유입량'],axis=1)
Y_train=new_train['유입량']

2025

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_valid, y_train, y_valid = train_test_split(X_train, Y_train, test_size=0.15, random_state=42)

In [ ]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)
print(lr.score(x_valid,y_valid))

y_pred=lr.predict(x_valid)
#RMSE
print(mean_squared_error(y_valid, y_pred, squared=False))

0.8811763427721472
742.072407741051

In [ ]:
x_valid.corrwith(pd.DataFrame(y_pred))

0        NaN
시간       NaN
연        NaN
월        NaN
일        NaN
홍수사상번호   NaN
dtype: float64

##scaler

!! Data Import 다시 해야됌

In [ ]:
ori_cols=train.columns
Y_train=train['유입량']
Y_train=Y_train.iloc[:2891]

from sklearn.preprocessing import RobustScaler
scaler=RobustScaler()
train=scaler.fit_transform(train)

train=pd.DataFrame(train,columns=ori_cols)

In [ ]:
Y_train

1       189.100000
2       216.951962
3       251.424419
4       302.812199
5       384.783406
           ...
2887    513.368437
2888    502.846843
2889    491.954805
2890    481.103083
2891    470.458109
Name: 유입량, Length: 2891, dtype: float64

In [ ]:
for col in train.columns:
    train[col]=train[col].astype(np.float64)

In [ ]:
new_train=train.iloc[:2891,:]
new_test=train.iloc[2891:,:]
X_train=new_train.drop(columns=['유입량'],axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_valid, y_train, y_valid = train_test_split(X_train, Y_train, test_size=0.15, random_state=42)

In [ ]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)
print(lr.score(x_valid,y_valid))

y_pred=lr.predict(x_valid)
#RMSE
print(mean_squared_error(y_valid, y_pred, squared=False))

0.9040095586325692
707.7456362996787

Standard Scaler/MinMax Scaler/Robust Scaler : 달라진 것 없음

## PCA

In [ ]:
ori_cols=train.columns
Y_train=train['유입량']
Y_train=Y_train.iloc[:2891]
train=train.drop(columns=['유입량'], axis=1)

In [ ]:
new_train=train.iloc[:2891,:]
new_test=train.iloc[2891:,:]

In [ ]:
# PCA를 통해 데이터 차원 축소
from sklearn.decomposition import PCA

lpca = PCA(n_components=30)
train_pca = lpca.fit_transform(new_train)
test_pca=lpca.transform(new_test)

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_valid, y_train, y_valid = train_test_split(train_pca, Y_train, test_size=0.15, random_state=42)

In [ ]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)
print(lr.score(x_valid,y_valid))

0.9063953696313858

In [ ]:
y_pred=lr.predict(x_valid)
mean_squared_error(y_valid, y_pred, squared=False)

# n_components =20 : 1083.7935571585788
# n_components =30 :698.8949016749787

698.8949016749791

feature 48 -> 30개로 줄였는데 성능향상이 아주 조금 있었다!!

#모델

## XGB regressor

In [ ]:
for col in train.columns:
    train[col]=train[col].astype(np.float64)

In [ ]:
new_train=train.iloc[:2891,:]
new_test=train.iloc[2891:,:]
X_train=new_train.drop(columns=['유입량'],axis=1)
Y_train=new_train['유입량']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_valid, y_train, y_valid = train_test_split(X_train, Y_train, test_size=0.15, random_state=42)

In [ ]:
import xgboost as xgb
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                alpha = 10)

In [ ]:
xg_reg.fit(x_train,y_train)

y_pred = xg_reg.predict(x_valid)
print(mean_squared_error(y_valid, y_pred, squared=False))

[16:15:22] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
298.08046765796246

## Random Forest

In [ ]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor( random_state=0)
regr.fit(x_train,y_train)
regr.score(x_valid, y_valid)

y_pred = regr.predict(x_valid)
print(mean_squared_error(y_valid, y_pred, squared=False))

309.0602494938446