##Auto ML 설치

In [1]:
!pip install --upgrade setuptools

Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (57.4.0)

In [2]:
!apt-get remove swig
!apt-get install swig3.0 build-essential -y

Reading package lists... Done
Building dependency tree
Reading state information... Done
Package 'swig' is not installed, so not removed
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 40 not upgraded.
Reading package lists... Done
Building dependency tree
Reading state information... Done
build-essential is already the newest version (12.4ubuntu1).
swig3.0 is already the newest version (3.0.12-1).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 40 not upgraded.

In [3]:
!ln -s /usr/bin/swig3.0 /usr/bin/swig
!apt-get install build-essential

ln: failed to create symbolic link '/usr/bin/swig': File exists
Reading package lists... Done
Building dependency tree
Reading state information... Done
build-essential is already the newest version (12.4ubuntu1).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 40 not upgraded.

In [4]:
!pip install auto-sklearn

Requirement already satisfied: auto-sklearn in /usr/local/lib/python3.7/dist-packages (0.13.0)
Requirement already satisfied: smac>=0.14 in /usr/local/lib/python3.7/dist-packages (from auto-sklearn) (1.0.1)
Requirement already satisfied: dask<2021.07 in /usr/local/lib/python3.7/dist-packages (from auto-sklearn) (2021.6.2)
Requirement already satisfied: ConfigSpace<0.5,>=0.4.14 in /usr/local/lib/python3.7/dist-packages (from auto-sklearn) (0.4.19)
Requirement already satisfied: pynisher>=0.6.3 in /usr/local/lib/python3.7/dist-packages (from auto-sklearn) (0.6.4)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from auto-sklearn) (1.0.1)
Requirement already satisfied: pyrfr<0.9,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from auto-sklearn) (0.8.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from auto-sklearn) (57.4.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from auto-sklearn) (3.7.4.3)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from auto-sklearn) (1.1.5)
Requirement already satisfied: distributed<2021.07,>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from auto-sklearn) (2021.6.2)
Requirement already satisfied: scikit-learn<0.25.0,>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from auto-sklearn) (0.24.2)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from auto-sklearn) (3.13)
Requirement already satisfied: liac-arff in /usr/local/lib/python3.7/dist-packages (from auto-sklearn) (2.5.0)
Requirement already satisfied: threadpoolctl in /usr/local/lib/python3.7/dist-packages (from auto-sklearn) (2.2.0)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from auto-sklearn) (1.19.5)
Requirement already satisfied: scipy>=1.7.0 in /usr/local/lib/python3.7/dist-packages (from auto-sklearn) (1.7.1)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.7/dist-packages (from ConfigSpace<0.5,>=0.4.14->auto-sklearn) (2.4.7)
Requirement already satisfied: cython in /usr/local/lib/python3.7/dist-packages (from ConfigSpace<0.5,>=0.4.14->auto-sklearn) (0.29.24)
Requirement already satisfied: cloudpickle>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from dask<2021.07->auto-sklearn) (1.6.0)
Requirement already satisfied: fsspec>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from dask<2021.07->auto-sklearn) (2021.7.0)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.7/dist-packages (from dask<2021.07->auto-sklearn) (0.11.1)
Requirement already satisfied: partd>=0.3.10 in /usr/local/lib/python3.7/dist-packages (from dask<2021.07->auto-sklearn) (1.2.0)
Requirement already satisfied: click>=6.6 in /usr/local/lib/python3.7/dist-packages (from distributed<2021.07,>=2.2.0->auto-sklearn) (7.1.2)
Requirement already satisfied: psutil>=5.0 in /usr/local/lib/python3.7/dist-packages (from distributed<2021.07,>=2.2.0->auto-sklearn) (5.4.8)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.7/dist-packages (from distributed<2021.07,>=2.2.0->auto-sklearn) (2.4.0)
Requirement already satisfied: tornado>=5 in /usr/local/lib/python3.7/dist-packages (from distributed<2021.07,>=2.2.0->auto-sklearn) (5.1.1)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from distributed<2021.07,>=2.2.0->auto-sklearn) (1.7.0)
Requirement already satisfied: msgpack>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from distributed<2021.07,>=2.2.0->auto-sklearn) (1.0.2)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.7/dist-packages (from distributed<2021.07,>=2.2.0->auto-sklearn) (2.0.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->auto-sklearn) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->auto-sklearn) (2.8.2)
Requirement already satisfied: locket in /usr/local/lib/python3.7/dist-packages (from partd>=0.3.10->dask<2021.07->auto-sklearn) (0.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->auto-sklearn) (1.15.0)
Requirement already satisfied: heapdict in /usr/local/lib/python3.7/dist-packages (from zict>=0.1.3->distributed<2021.07,>=2.2.0->auto-sklearn) (1.0.1)

In [5]:
!pip install --upgrade scikit-learn
!pip install scikit-learn==0.24.2

import sklearn
print('The scikit-learn version is {}.'.format(sklearn.__version__))

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (0.24.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.19.5)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.7.1)
Requirement already satisfied: scikit-learn==0.24.2 in /usr/local/lib/python3.7/dist-packages (0.24.2)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.24.2) (1.7.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.24.2) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.24.2) (2.2.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.24.2) (1.19.5)
The scikit-learn version is 0.24.2.

##Data Import

In [194]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error

train=pd.read_excel("2021 빅콘테스트_데이터분석분야_퓨처스리그_홍수ZERO_댐유입량,강우,수위데이터_210803.xlsx")
test=pd.read_excel("2021 빅콘테스트_데이터분석분야_퓨처스리그_홍수ZERO_평가데이터_210803.xlsx")

In [195]:
train.head()

   홍수사상번호       연    월     일  ...  Unnamed: 44  Unnamed: 45 Unnamed: 46 Unnamed: 47
0     NaN     NaN  NaN   NaN  ...      강우(C지역)      강우(D지역)     수위(E지역)     수위(D지역)
1     1.0  2006.0  7.0  10.0  ...            8            8        2.54      122.61
2     1.0  2006.0  7.0  10.0  ...           10           10        2.53       122.6
3     1.0  2006.0  7.0  10.0  ...           10           11        2.53      122.59
4     1.0  2006.0  7.0  10.0  ...           15           14        2.53     122.585

[5 rows x 48 columns]

In [196]:
train=train.drop(labels=0,axis=0)
column=['홍수사상번호','연','월','일','시간','유입량','1유역평균강수','1강우A','1강우B','1강우C','1강우D','1수위E','1수위D','2유역평균강수','2강우A','2강우B','2강우C','2강우D','2수위E','2수위D','3유역평균강수','3강우A','3강우B','3강우C','3강우D','3수위E','3수위D','4유역평균강수','4강우A','4강우B','4강우C','4강우D','4수위E','4수위D','5유역평균강수','5강우A','5강우B','5강우C','5강우D','5수위E','5수위D','6유역평균강수','6강우A','6강우B','6강우C','6강우D','6수위E','6수위D']
train.columns=column

In [197]:
train.head(3)

   홍수사상번호       연    월     일    시간  ...  6강우B 6강우C 6강우D  6수위E    6수위D
1     1.0  2006.0  7.0  10.0   8.0  ...     7    8    8  2.54  122.61
2     1.0  2006.0  7.0  10.0   9.0  ...     8   10   10  2.53   122.6
3     1.0  2006.0  7.0  10.0  10.0  ...     9   10   11  2.53  122.59

[3 rows x 48 columns]

In [198]:
train.info()
print("test 해야할 행 수 : ",3051-2891," == test 행 수")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3051 entries, 1 to 3051
Data columns (total 48 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   홍수사상번호   3051 non-null   float64
 1   연        3051 non-null   float64
 2   월        3051 non-null   float64
 3   일        3051 non-null   float64
 4   시간       3051 non-null   float64
 5   유입량      2891 non-null   float64
 6   1유역평균강수  3051 non-null   object
 7   1강우A     3051 non-null   object
 8   1강우B     3051 non-null   object
 9   1강우C     3051 non-null   object
 10  1강우D     3051 non-null   object
 11  1수위E     3051 non-null   object
 12  1수위D     3051 non-null   object
 13  2유역평균강수  3051 non-null   object
 14  2강우A     3051 non-null   object
 15  2강우B     3051 non-null   object
 16  2강우C     3051 non-null   object
 17  2강우D     3051 non-null   object
 18  2수위E     3051 non-null   object
 19  2수위D     3051 non-null   object
 20  3유역평균강수  3051 non-null   object
 21  3강우A     3051 non-null   object
 22  3강우B     3051 non-null   object
 23  3강우C     3051 non-null   object
 24  3강우D     3051 non-null   object
 25  3수위E     3051 non-null   object
 26  3수위D     3051 non-null   object
 27  4유역평균강수  3051 non-null   object
 28  4강우A     3051 non-null   object
 29  4강우B     3051 non-null   object
 30  4강우C     3051 non-null   object
 31  4강우D     3051 non-null   object
 32  4수위E     3051 non-null   object
 33  4수위D     3051 non-null   object
 34  5유역평균강수  3051 non-null   object
 35  5강우A     3051 non-null   object
 36  5강우B     3051 non-null   object
 37  5강우C     3051 non-null   object
 38  5강우D     3051 non-null   object
 39  5수위E     3051 non-null   object
 40  5수위D     3051 non-null   object
 41  6유역평균강수  3051 non-null   object
 42  6강우A     3051 non-null   object
 43  6강우B     3051 non-null   object
 44  6강우C     3051 non-null   object
 45  6강우D     3051 non-null   object
 46  6수위E     3051 non-null   object
 47  6수위D     3051 non-null   object
dtypes: float64(6), object(42)
memory usage: 1.1+ MB
test 해야할 행 수 :  160  == test 행 수

In [199]:
test.head()

    NO  홍수사상번호       연    월    일   시간  유입량
0  NaN     NaN     NaN  NaN  NaN  NaN  NaN
1  1.0    26.0  2018.0  7.0  1.0  6.0  NaN
2  2.0    26.0  2018.0  7.0  1.0  7.0  NaN
3  3.0    26.0  2018.0  7.0  1.0  8.0  NaN
4  4.0    26.0  2018.0  7.0  1.0  9.0  NaN

In [200]:
test=test.drop(labels=0 ,axis=0)

In [201]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 160 entries, 1 to 160
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NO      160 non-null    float64
 1   홍수사상번호  160 non-null    float64
 2   연       160 non-null    float64
 3   월       160 non-null    float64
 4   일       160 non-null    float64
 5   시간      160 non-null    float64
 6   유입량     0 non-null      float64
dtypes: float64(7)
memory usage: 10.0 KB

In [202]:
print('train shape : ', train.shape, 'test shape : ',test.shape)

train shape :  (3051, 48) test shape :  (160, 7)

#년 월 시 별 평균

##연

In [ ]:
print(train['연'].unique())
years=[2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2017]

In [ ]:
graph_x=list()
graph_y=list()
for i in years:
    temp_mean=new_train[new_train['연']==i]['유입량'].mean()
    temp_len=len(new_train[new_train['연']==i])
    print(i,"년에서의 유입량 평균",temp_mean, "데이터수 : ",temp_len)
    graph_x.append(i)
    graph_y.append(temp_mean)

graph_x.sort()

년도별 데이터수가 많이 달라서 영향을 많이 미치는지는 않는 것 같다

https://www.etoday.co.kr/news/view/1925778

In [ ]:
plt.bar(graph_x,graph_y)
plt.ylim(700,4100)
plt.show()

##월

In [ ]:
print(train['월'].unique())

In [ ]:
graph_x=list()
graph_y=list()
for i in range(6,10):
    temp_mean=new_train[new_train['월']==i]['유입량'].mean()
    print(i,"월에서의 유입량 평균",temp_mean)
    graph_x.append(i)
    graph_y.append(temp_mean)

In [ ]:
plt.bar(graph_x,graph_y)
plt.ylim(1000,2000)
plt.show()

##시

In [ ]:
graph_x=list()
graph_y=list()
for i in range(1,25):
    temp_mean=new_train[new_train['시간']==i]['유입량'].mean()
    print(i,"시에서의 유입량 평균",temp_mean)
    graph_x.append(i)
    graph_y.append(temp_mean)

In [ ]:
plt.bar(graph_x,graph_y)
plt.ylim(1600,1820)
plt.show()

강우량:순수하게 비만 내린 것을 측정한 값<br>
강수량:강우량+강설량(눈)

##같은 열

In [18]:
target_cols=[ '1강우A', '1강우B', '1강우C',
       '1강우D', '1수위E', '1수위D',  '2강우A', '2강우B', '2강우C', '2강우D',
       '2수위E', '2수위D',  '3강우A', '3강우B', '3강우C', '3강우D', '3수위E',
       '3수위D',  '4강우A', '4강우B', '4강우C', '4강우D', '4수위E', '4수위D',
        '5강우A', '5강우B', '5강우C', '5강우D', '5수위E', '5수위D',
       '6강우A', '6강우B', '6강우C', '6강우D', '6수위E', '6수위D']

for col1 in target_cols:
    for col2 in target_cols:
        if col1 !=col2 and len(train[train[col1]!=train[col2]]) ==0 :
            print(col1, col2)
            
2강우A 3강우A
4강우A 5강우A 6강우A

3강우B 4강우B 5강우B

4강우C 5강우C

1강우D 2강우D
4강우D 5강우D

1수위E 2수위E 3수위E 4수위E 5수위E 6수위E

1강우D 2강우D
1수위E 2수위E
1수위E 3수위E
1수위E 4수위E
1수위E 5수위E
1수위E 6수위E
2강우A 3강우A
2강우D 1강우D
2수위E 1수위E
2수위E 3수위E
2수위E 4수위E
2수위E 5수위E
2수위E 6수위E
3강우A 2강우A
3강우B 4강우B
3강우B 5강우B
3수위E 1수위E
3수위E 2수위E
3수위E 4수위E
3수위E 5수위E
3수위E 6수위E
4강우A 5강우A
4강우A 6강우A
4강우B 3강우B
4강우B 5강우B
4강우C 5강우C
4강우D 5강우D
4수위E 1수위E
4수위E 2수위E
4수위E 3수위E
4수위E 5수위E
4수위E 6수위E
5강우A 4강우A
5강우A 6강우A
5강우B 3강우B
5강우B 4강우B
5강우C 4강우C
5강우D 4강우D
5수위E 1수위E
5수위E 2수위E
5수위E 3수위E
5수위E 4수위E
5수위E 6수위E
6강우A 4강우A
6강우A 5강우A
6수위E 1수위E
6수위E 2수위E
6수위E 3수위E
6수위E 4수위E
6수위E 5수위E

#여러방법

In [162]:
for col in train.columns:
    train[col]=train[col].astype(np.float64)

In [163]:
new_train=train.iloc[:2891,:]
new_test=train.iloc[2891:,:]
X_train=new_train.drop(columns=['유입량'],axis=1)
Y_train=new_train['유입량']

## 아무것도 안 만짐

In [135]:
from sklearn.model_selection import train_test_split
x_train, x_valid, y_train, y_valid = train_test_split(X_train, Y_train, test_size=0.15, random_state=42)

In [136]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)
print(lr.score(x_valid,y_valid))

0.9040095586325729

In [137]:
y_pred=lr.predict(x_valid)
mean_squared_error(y_valid, y_pred, squared=False)

707.7456362996647

##수위E 하나 빼고 다 drop

In [32]:
X_train=X_train.drop(columns=['2수위E', '3수위E', '4수위E',  '5수위E', '6수위E'],axis=1)

In [33]:
from sklearn.model_selection import train_test_split
x_train, x_valid, y_train, y_valid = train_test_split(X_train, Y_train, test_size=0.15, random_state=42)

In [34]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)
print(lr.score(x_valid,y_valid))

0.904009558632567

In [35]:
y_pred=lr.predict(x_valid)
#RMSE
mean_squared_error(y_valid, y_pred, squared=False)

707.7456362996866

수위E는 다 같기 때문에 한 열만 남기고 drop해도 성능이 떨어지지 않는다

##7월만 남기기

In [164]:
train.shape

(3051, 48)

In [165]:
new_train=train.iloc[:2891,:]
new_test=train.iloc[2891:,:]
new_train=new_train[new_train['월'] == 7.0]
new_test=new_test[new_test['월'] == 7.0]
print(len(new_train)+len(new_test))
X_train=new_train.drop(columns=['유입량'],axis=1)
Y_train=new_train['유입량']

2025

In [62]:
from sklearn.model_selection import train_test_split
x_train, x_valid, y_train, y_valid = train_test_split(X_train, Y_train, test_size=0.15, random_state=42)

In [64]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)
print(lr.score(x_valid,y_valid))

y_pred=lr.predict(x_valid)
#RMSE
print(mean_squared_error(y_valid, y_pred, squared=False))

0.8811763427721471
742.072407741051

In [68]:
x_valid.corrwith(pd.DataFrame(y_pred))

0         NaN
1강우A      NaN
1강우B      NaN
1강우C      NaN
1강우D      NaN
1수위D      NaN
1수위E      NaN
1유역평균강수   NaN
2강우A      NaN
2강우B      NaN
2강우C      NaN
2강우D      NaN
2수위D      NaN
2수위E      NaN
2유역평균강수   NaN
3강우A      NaN
3강우B      NaN
3강우C      NaN
3강우D      NaN
3수위D      NaN
3수위E      NaN
3유역평균강수   NaN
4강우A      NaN
4강우B      NaN
4강우C      NaN
4강우D      NaN
4수위D      NaN
4수위E      NaN
4유역평균강수   NaN
5강우A      NaN
5강우B      NaN
5강우C      NaN
5강우D      NaN
5수위D      NaN
5수위E      NaN
5유역평균강수   NaN
6강우A      NaN
6강우B      NaN
6강우C      NaN
6강우D      NaN
6수위D      NaN
6수위E      NaN
6유역평균강수   NaN
시간        NaN
연         NaN
월         NaN
일         NaN
홍수사상번호    NaN
dtype: float64

##scaler

!! Data Import 다시 해야됌

In [203]:
ori_cols=train.columns
Y_train=train['유입량']
Y_train=Y_train.iloc[:2891]

from sklearn.preprocessing import RobustScaler
scaler=StandardScaler()
train=scaler.fit_transform(train)

train=pd.DataFrame(train,columns=ori_cols)

In [204]:
Y_train

1       189.100000
2       216.951962
3       251.424419
4       302.812199
5       384.783406
           ...
2887    513.368437
2888    502.846843
2889    491.954805
2890    481.103083
2891    470.458109
Name: 유입량, Length: 2891, dtype: float64

In [205]:
for col in train.columns:
    train[col]=train[col].astype(np.float64)

In [206]:
new_train=train.iloc[:2891,:]
new_test=train.iloc[2891:,:]
X_train=new_train.drop(columns=['유입량'],axis=1)

In [207]:
from sklearn.model_selection import train_test_split
x_train, x_valid, y_train, y_valid = train_test_split(X_train, Y_train, test_size=0.15, random_state=42)

In [208]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)
print(lr.score(x_valid,y_valid))

y_pred=lr.predict(x_valid)
#RMSE
print(mean_squared_error(y_valid, y_pred, squared=False))

0.9040095586325694
707.7456362996779

Standard Scaler/MinMax Scaler/Robust Scaler : 달라진 것 없음

##유역평균강수만 뽑고 나머지는 버리기

In [ ]:
new_train=train.iloc[:2891,:]
new_test=train.iloc[2891:,:]
X_train=new_train.drop(columns=['유입량'],axis=1)
Y_train=new_train['유입량']

In [33]:
X_train=X_train.drop(columns=[ '1강우A', '1강우B', '1강우C',
       '1강우D', '1수위E', '1수위D',  '2강우A', '2강우B', '2강우C', '2강우D',
       '2수위E', '2수위D',  '3강우A', '3강우B', '3강우C', '3강우D', '3수위E',
       '3수위D',  '4강우A', '4강우B', '4강우C', '4강우D', '4수위E', '4수위D',
        '5강우A', '5강우B', '5강우C', '5강우D', '5수위E', '5수위D',
       '6강우A', '6강우B', '6강우C', '6강우D', '6수위E', '6수위D'],axis=1)

In [34]:
from sklearn.model_selection import train_test_split
x_train, x_valid, y_train, y_valid = train_test_split(X_train, Y_train, test_size=0.15, random_state=42)

In [35]:
x_train

      홍수사상번호       연    월     일  ...   3유역평균강수   4유역평균강수   5유역평균강수   6유역평균강수
656      8.0  2009.0  7.0  14.0  ...  112.1206  119.9043  110.0860   79.4238
290      2.0  2006.0  7.0  28.0  ...  128.7000  131.1000  129.8000  118.6000
247      2.0  2006.0  7.0  26.0  ...   20.6000   20.9000   20.9000   20.9000
2303    22.0  2013.0  7.0   8.0  ...    3.6291    3.6698    3.6698    3.6698
1006    12.0  2010.0  9.0  21.0  ...   35.6086   40.2861   39.7560   36.0510
...      ...     ...  ...   ...  ...       ...       ...       ...       ...
1639    16.0  2011.0  8.0   3.0  ...   22.1076   21.2274   20.0513   14.4528
1096    13.0  2011.0  6.0  30.0  ...   76.1637   81.4074   81.3750   81.3333
1131    13.0  2011.0  7.0   1.0  ...   85.8239   85.8239   85.8239   81.9880
1295    15.0  2011.0  7.0  12.0  ...   47.7996   47.9164   47.9164   47.8437
861     11.0  2010.0  9.0  10.0  ...   12.0020   12.5949   12.5655   12.5361

[2457 rows x 11 columns]

In [36]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)
print(lr.score(x_valid,y_valid))

0.6348535045391911

In [37]:
y_pred=lr.predict(x_train)
y_pred[:10]

array([2598.42568359, 3944.68482171, 1138.96611336, -104.12034139,
        981.91042732,   73.52934969,  163.66534729, -175.03996037,
        448.83814098,  -63.1692137 ])

In [38]:
y_train[:10]

656     3733.869336
290     5942.082186
247      196.829472
2303      87.955369
1006     238.369158
2329     144.645695
2079     200.580027
1743     889.744450
533      775.154908
749       58.411156
Name: 유입량, dtype: float64

##유역평균+abcdede

In [ ]:
new_train=train.iloc[:2891,:]
new_test=train.iloc[2891:,:]
X_train=new_train.drop(columns=['유입량'],axis=1)
Y_train=new_train['유입량']

In [27]:
X_train=X_train.drop(columns=[  '2강우A', '2강우B', '2강우C', '2강우D',
       '2수위E', '2수위D',  '3강우A', '3강우B', '3강우C', '3강우D', '3수위E',
       '3수위D',  '4강우A', '4강우B', '4강우C', '4강우D', '4수위E', '4수위D',
        '5강우A', '5강우B', '5강우C', '5강우D', '5수위E', '5수위D',
       '6강우A', '6강우B', '6강우C', '6강우D', '6수위E', '6수위D'],axis=1)

In [28]:
from sklearn.model_selection import train_test_split
x_train, x_valid, y_train, y_valid = train_test_split(X_train, Y_train, test_size=0.15, random_state=42)

In [29]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)
print(lr.score(x_valid,y_valid))

0.8854131058972271

In [30]:
y_pred=lr.predict(x_valid)
mean_squared_error(y_valid, y_pred, squared=False)

773.2691427516805

##Auto ML

In [20]:
from autosklearn.pipeline.components import regression
print(regression._regressors.keys())

odict_keys(['adaboost', 'ard_regression', 'decision_tree', 'extra_trees', 'gaussian_process', 'gradient_boosting', 'k_nearest_neighbors', 'liblinear_svr', 'libsvm_svr', 'mlp', 'random_forest', 'sgd'])

In [21]:
#에러 NVMLError_Uninitialized: Uninitialized
# import autosklearn.regression
# automl = autosklearn.regression.AutoSklearnRegressor(
#     time_left_for_this_task=120,
#     per_run_time_limit=30,
#     n_jobs=-1,
#     seed=1
# )
# automl.fit(x_train, y_train)

NVMLError_Uninitialized: ignored

In [22]:
print(automl.score(x_valid))
automl.cv_results_['params'][np.argmax(automl.cv_results_['mean_test_score'])]
# submission['num'] = pred
# submission.to_csv('automl.csv', index=False)

AttributeError: ignored