# Experiment 2-1
- `FLAG_MOBIL` drop

In [ ]:
from urllib.request import urlretrieve

urlretrieve('https://drive.google.com/uc?export=download&id=1XLVFI_sK0smRVVuT8XU2s-M3lJT-68sN', './open.zip')

('./open.zip', <http.client.HTTPMessage at 0x7f3d0c99a1d0>)

In [ ]:
!unzip ./open.zip

Archive:  ./open.zip
replace open/train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: open/train.csv
  inflating: open/sample_submission.csv
  inflating: open/test.csv

In [ ]:
import numpy as np
import pandas as pd
from lightgbm import LGBMClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import cross_validate

In [ ]:
train = pd.read_csv('./open/train.csv')
test = pd.read_csv('./open/test.csv')

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26457 entries, 0 to 26456
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          26457 non-null  int64
 1   gender         26457 non-null  object
 2   car            26457 non-null  object
 3   reality        26457 non-null  object
 4   child_num      26457 non-null  int64
 5   income_total   26457 non-null  float64
 6   income_type    26457 non-null  object
 7   edu_type       26457 non-null  object
 8   family_type    26457 non-null  object
 9   house_type     26457 non-null  object
 10  DAYS_BIRTH     26457 non-null  int64
 11  DAYS_EMPLOYED  26457 non-null  int64
 12  FLAG_MOBIL     26457 non-null  int64
 13  work_phone     26457 non-null  int64
 14  phone          26457 non-null  int64
 15  email          26457 non-null  int64
 16  occyp_type     18286 non-null  object
 17  family_size    26457 non-null  float64
 18  begin_month    26457 non-null  float64
 19  credit         26457 non-null  float64
dtypes: float64(4), int64(8), object(8)
memory usage: 4.0+ MB

## Data Preprocessing

In [ ]:
train.fillna('NAN', inplace=True) 
test.fillna('NAN', inplace=True)

In [ ]:
train.drop('index', axis=1, inplace=True)
test.drop('index', axis=1, inplace=True)

In [ ]:
train.drop('FLAG_MOBIL', axis=1, inplace=True)
test.drop('FLAG_MOBIL', axis=1, inplace=True)

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26457 entries, 0 to 26456
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gender         26457 non-null  object
 1   car            26457 non-null  object
 2   reality        26457 non-null  object
 3   child_num      26457 non-null  int64
 4   income_total   26457 non-null  float64
 5   income_type    26457 non-null  object
 6   edu_type       26457 non-null  object
 7   family_type    26457 non-null  object
 8   house_type     26457 non-null  object
 9   DAYS_BIRTH     26457 non-null  int64
 10  DAYS_EMPLOYED  26457 non-null  int64
 11  work_phone     26457 non-null  int64
 12  phone          26457 non-null  int64
 13  email          26457 non-null  int64
 14  occyp_type     26457 non-null  object
 15  family_size    26457 non-null  float64
 16  begin_month    26457 non-null  float64
 17  credit         26457 non-null  float64
dtypes: float64(4), int64(6), object(8)
memory usage: 3.6+ MB

In [ ]:
onehot_col = ['gender',
              'car',
              'reality',
              'income_type',
              'edu_type',
              'family_type',
              'house_type',
              'occyp_type']


enc = OneHotEncoder()
enc.fit(train.loc[:,onehot_col])


train_onehot_df = pd.DataFrame(enc.transform(train.loc[:,onehot_col]).toarray(), 
             columns=enc.get_feature_names(onehot_col))
train.drop(onehot_col, axis=1, inplace=True)
train = pd.concat([train, train_onehot_df], axis=1)

In [ ]:
X_train = train.drop('credit', axis=1)
y_train = train['credit']

## modeling

In [ ]:
scores = cross_validate(LGBMClassifier(), X_train, y_train,
                        scoring='neg_log_loss', return_train_score = True)
scores

{'fit_time': array([1.12053156, 1.01253247, 1.0469327 , 1.03450727, 1.04776049]),
 'score_time': array([0.07816148, 0.09247255, 0.07846665, 0.07640052, 0.07114697]),
 'test_score': array([-0.75942811, -0.76384856, -0.76256046, -0.76210299, -0.75800922]),
 'train_score': array([-0.68033952, -0.67795626, -0.6758315 , -0.67947138, -0.67699941])}

In [ ]:
np.mean(scores['test_score'])

-0.7611898663220819