# Experiment 2-5
> `family_size`, `child_num` 은 거의 유사한 값을 가진다. 위 두 feature를 이용한 실험
- outlier처리
- drop
- 위 둘 중 성능이 좋아진 것이 있다면 거기에 `family_size` - `child_num` feature를 추가해보자

In [173]:
from urllib.request import urlretrieve

urlretrieve('https://drive.google.com/uc?export=download&id=1XLVFI_sK0smRVVuT8XU2s-M3lJT-68sN', './open.zip')

('./open.zip', <http.client.HTTPMessage at 0x7fbadda78c90>)

In [174]:
!unzip ./open.zip

Archive:  ./open.zip
replace open/train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: open/train.csv
  inflating: open/sample_submission.csv
  inflating: open/test.csv

In [175]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from lightgbm import LGBMClassifier
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.model_selection import cross_validate

In [259]:
train = pd.read_csv('./open/train.csv')
test = pd.read_csv('./open/test.csv')

In [260]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26457 entries, 0 to 26456
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          26457 non-null  int64
 1   gender         26457 non-null  object
 2   car            26457 non-null  object
 3   reality        26457 non-null  object
 4   child_num      26457 non-null  int64
 5   income_total   26457 non-null  float64
 6   income_type    26457 non-null  object
 7   edu_type       26457 non-null  object
 8   family_type    26457 non-null  object
 9   house_type     26457 non-null  object
 10  DAYS_BIRTH     26457 non-null  int64
 11  DAYS_EMPLOYED  26457 non-null  int64
 12  FLAG_MOBIL     26457 non-null  int64
 13  work_phone     26457 non-null  int64
 14  phone          26457 non-null  int64
 15  email          26457 non-null  int64
 16  occyp_type     18286 non-null  object
 17  family_size    26457 non-null  float64
 18  begin_month    26457 non-null  float64
 19  credit         26457 non-null  float64
dtypes: float64(4), int64(8), object(8)
memory usage: 4.0+ MB

In [261]:
train.head()

   index gender car reality  ...   occyp_type  family_size begin_month credit
0      0      F   N       N  ...          NaN          2.0        -6.0    1.0
1      1      F   N       Y  ...     Laborers          3.0        -5.0    1.0
2      2      M   Y       Y  ...     Managers          2.0       -22.0    2.0
3      3      F   N       Y  ...  Sales staff          2.0       -37.0    0.0
4      4      F   Y       Y  ...     Managers          2.0       -26.0    2.0

[5 rows x 20 columns]

## Data Preprocessing

In [262]:
train.fillna('NAN', inplace=True)
test.fillna('NAN', inplace=True)

In [263]:
train.drop('index', axis=1, inplace=True)
test.drop('index', axis=1, inplace=True)

In [264]:
train.drop('FLAG_MOBIL', axis=1, inplace=True)
test.drop('FLAG_MOBIL', axis=1, inplace=True)

In [265]:
binary_col = ['gender',
              'car',
              'reality']

binary_encoder = OrdinalEncoder(categories=[['F', 'M'],
                                            ['N', 'Y'],
                                            ['N', 'Y']],
                                dtype=np.int8)\
                              .fit(train.loc[:,binary_col])

train.loc[:,binary_col] = binary_encoder.transform(train.loc[:,binary_col])

In [266]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26457 entries, 0 to 26456
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gender         26457 non-null  int64
 1   car            26457 non-null  int64
 2   reality        26457 non-null  int64
 3   child_num      26457 non-null  int64
 4   income_total   26457 non-null  float64
 5   income_type    26457 non-null  object
 6   edu_type       26457 non-null  object
 7   family_type    26457 non-null  object
 8   house_type     26457 non-null  object
 9   DAYS_BIRTH     26457 non-null  int64
 10  DAYS_EMPLOYED  26457 non-null  int64
 11  work_phone     26457 non-null  int64
 12  phone          26457 non-null  int64
 13  email          26457 non-null  int64
 14  occyp_type     26457 non-null  object
 15  family_size    26457 non-null  float64
 16  begin_month    26457 non-null  float64
 17  credit         26457 non-null  float64
dtypes: float64(4), int64(9), object(5)
memory usage: 3.6+ MB

In [267]:
onehot_col = ['income_type',
              'edu_type',
              'family_type',
              'house_type',
              'occyp_type']


onehot_encoder = OneHotEncoder()
onehot_encoder.fit(train.loc[:,onehot_col])


train_onehot_df = pd.DataFrame(onehot_encoder.transform(train.loc[:,onehot_col]).toarray(), 
             columns=onehot_encoder.get_feature_names(onehot_col))
train.drop(onehot_col, axis=1, inplace=True)
train = pd.concat([train, train_onehot_df], axis=1)

In [268]:
X_train = train.drop('credit', axis=1)
y_train = train['credit']

In [269]:
# 아래 md에 기록되어있는 것은 이 feature 없이 학습한 것
# 아무 처리 없이 이 피처를 추가했을 때 성능이 향상 되었으므로 추가해본다
X_train['fc'] = X_train['family_size'] - X_train['child_num']

## outlier 처리

### `child_num`
- 4: 0.7611898663220819
- 3: 0.7606424909637512
- 2: 0.7608976274578698
- 1: 0.7599246928293375

In [270]:
X_train['child_num'].value_counts()

0     18340
1      5386
2      2362
3       306
4        47
5        10
14        3
7         2
19        1
Name: child_num, dtype: int64

In [271]:
for child_num_cut in range(4 + 1):
  X_train1 = X_train.copy()
  X_train1.loc[X_train1['child_num'] > child_num_cut, 'child_num'] = child_num_cut
  scores = cross_validate(LGBMClassifier(), X_train1, y_train,
                        scoring='neg_log_loss', return_train_score = True)
  mean_score = np.mean(scores['test_score'])
  print(f"c: {child_num_cut} >>> {mean_score}")

c: 0 >>> -0.7606751978574816
c: 1 >>> -0.7611189418990956
c: 2 >>> -0.7611066439833934
c: 3 >>> -0.7602247936797507
c: 4 >>> -0.7607514496600121

### `family_size`
- 6: 0.7611898663220819
- 5: 0.7608417340664374
- 4: 0.760812025635077
- 3: 0.760449725108483
- 2: 0.7612701386832864

In [272]:
X_train['family_size'].value_counts()

2.0     14106
1.0      5109
3.0      4632
4.0      2260
5.0       291
6.0        44
7.0         9
15.0        3
9.0         2
20.0        1
Name: family_size, dtype: int64

In [273]:
for family_size_cut in range(6 + 1):
  X_train2 = X_train.copy()
  X_train2.loc[X_train2['family_size'] > family_size_cut, 'family_size'] = family_size_cut
  scores = cross_validate(LGBMClassifier(), X_train2, y_train,
                        scoring='neg_log_loss', return_train_score = True)
  mean_score = np.mean(scores['test_score'])
  print(f"f: {family_size_cut} >>> {mean_score}")

f: 0 >>> -0.761219668371244
f: 1 >>> -0.761219668371244
f: 2 >>> -0.7613133737958269
f: 3 >>> -0.7604942631590917
f: 4 >>> -0.7604917575600143
f: 5 >>> -0.7611038966473103
f: 6 >>> -0.7607514496600121

### `family_size`, `child_num`

In [274]:
f_c_scores = []
verbose = True
for family_size_cut in range(6 + 1):
  for child_num_cut in range(4 + 1):
    X_train3 = X_train.copy()
    X_train3.loc[X_train3['family_size'] > family_size_cut, 'family_size'] = family_size_cut
    X_train3.loc[X_train3['child_num'] > child_num_cut, 'child_num'] = child_num_cut
    scores = cross_validate(LGBMClassifier(), X_train3, y_train,
                        scoring='neg_log_loss', return_train_score = True)
    mean_score = np.mean(scores['test_score'])
    if verbose:
      print(f"f: {family_size_cut}, c: {child_num_cut} >>> {mean_score}")
    f_c_scores.append([family_size_cut, child_num_cut, mean_score])

f: 0, c: 0 >>> -0.761827307135404
f: 0, c: 1 >>> -0.7617770973386897
f: 0, c: 2 >>> -0.7605980175723209
f: 0, c: 3 >>> -0.7610081945881834
f: 0, c: 4 >>> -0.761219668371244
f: 1, c: 0 >>> -0.761827307135404
f: 1, c: 1 >>> -0.7617770973386897
f: 1, c: 2 >>> -0.7605980175723209
f: 1, c: 3 >>> -0.7610081945881834
f: 1, c: 4 >>> -0.761219668371244
f: 2, c: 0 >>> -0.7625729910361008
f: 2, c: 1 >>> -0.7620379938857402
f: 2, c: 2 >>> -0.7622515488414463
f: 2, c: 3 >>> -0.7614174909632045
f: 2, c: 4 >>> -0.7613133737958269
f: 3, c: 0 >>> -0.7625924027942863
f: 3, c: 1 >>> -0.7616794294453341
f: 3, c: 2 >>> -0.7606290313274234
f: 3, c: 3 >>> -0.760641528149405
f: 3, c: 4 >>> -0.7604942631590917
f: 4, c: 0 >>> -0.7609506515754874
f: 4, c: 1 >>> -0.7604928553623018
f: 4, c: 2 >>> -0.760698439000106
f: 4, c: 3 >>> -0.7608835726669898
f: 4, c: 4 >>> -0.7604917575600143
f: 5, c: 0 >>> -0.7607280982570369
f: 5, c: 1 >>> -0.761007014948043
f: 5, c: 2 >>> -0.761151969406379
f: 5, c: 3 >>> -0.7608557064461273
f: 5, c: 4 >>> -0.7611038966473103
f: 6, c: 0 >>> -0.7606751978574816
f: 6, c: 1 >>> -0.7611189418990956
f: 6, c: 2 >>> -0.7611066439833934
f: 6, c: 3 >>> -0.7602247936797507
f: 6, c: 4 >>> -0.7607514496600121

In [275]:
for f_c_score in sorted(f_c_scores,
                        key=lambda x: x[2],
                        reverse=True):
  print(f_c_score)

[6, 3, -0.7602247936797507]
[4, 4, -0.7604917575600143]
[4, 1, -0.7604928553623018]
[3, 4, -0.7604942631590917]
[0, 2, -0.7605980175723209]
[1, 2, -0.7605980175723209]
[3, 2, -0.7606290313274234]
[3, 3, -0.760641528149405]
[6, 0, -0.7606751978574816]
[4, 2, -0.760698439000106]
[5, 0, -0.7607280982570369]
[6, 4, -0.7607514496600121]
[5, 3, -0.7608557064461273]
[4, 3, -0.7608835726669898]
[4, 0, -0.7609506515754874]
[5, 1, -0.761007014948043]
[0, 3, -0.7610081945881834]
[1, 3, -0.7610081945881834]
[5, 4, -0.7611038966473103]
[6, 2, -0.7611066439833934]
[6, 1, -0.7611189418990956]
[5, 2, -0.761151969406379]
[0, 4, -0.761219668371244]
[1, 4, -0.761219668371244]
[2, 4, -0.7613133737958269]
[2, 3, -0.7614174909632045]
[3, 1, -0.7616794294453341]
[0, 1, -0.7617770973386897]
[1, 1, -0.7617770973386897]
[0, 0, -0.761827307135404]
[1, 0, -0.761827307135404]
[2, 1, -0.7620379938857402]
[2, 2, -0.7622515488414463]
[2, 0, -0.7625729910361008]
[3, 0, -0.7625924027942863]

## drop 
> 위 outlier 제거에서 좋았던 결과이용

### `child_num`

In [276]:
for family_size_cut in range(6 + 1):
  X_train4 = X_train.copy()
  X_train4.drop('child_num', axis=1, inplace=True)
  X_train4.loc[X_train4['family_size'] > family_size_cut, 'family_size'] = family_size_cut
  scores = cross_validate(LGBMClassifier(), X_train4, y_train,
                        scoring='neg_log_loss', return_train_score = True)
  mean_score = np.mean(scores['test_score'])
  print(f"f: {family_size_cut} >>> {mean_score}")

f: 0 >>> -0.761827307135404
f: 1 >>> -0.761827307135404
f: 2 >>> -0.7625729910361008
f: 3 >>> -0.7625924027942863
f: 4 >>> -0.7609506515754874
f: 5 >>> -0.7607280982570369
f: 6 >>> -0.7606751978574816

### `family_size`

In [277]:
for child_num_cut in range(4 + 1):
  X_train5 = X_train.copy()
  X_train5.drop('family_size', axis=1, inplace=True)
  X_train5.loc[X_train5['child_num'] > child_num_cut, 'child_num'] = child_num_cut
  scores = cross_validate(LGBMClassifier(), X_train5, y_train,
                        scoring='neg_log_loss', return_train_score = True)
  mean_score = np.mean(scores['test_score'])
  print(f"c: {child_num_cut} >>> {mean_score}")

c: 0 >>> -0.761827307135404
c: 1 >>> -0.7617770973386897
c: 2 >>> -0.7605980175723209
c: 3 >>> -0.7610081945881834
c: 4 >>> -0.761219668371244

### `family_size`, `child_num`

In [278]:
X_train6 = X_train.copy()

In [279]:
X_train6.drop(['family_size', 'child_num'], axis=1, inplace=True)

In [280]:
scores = cross_validate(LGBMClassifier(), X_train6, y_train,
                        scoring='neg_log_loss', return_train_score = True)
scores

{'fit_time': array([0.9566443 , 0.9418478 , 0.92449498, 0.947258  , 0.93635368]),
 'score_time': array([0.07845855, 0.08253956, 0.09019876, 0.08136678, 0.08195996]),
 'test_score': array([-0.75979331, -0.76272134, -0.76425039, -0.76251465, -0.75985685]),
 'train_score': array([-0.68091979, -0.6801855 , -0.67880311, -0.68128271, -0.67846869])}

In [281]:
np.mean(scores['test_score'])

-0.761827307135404

## `family_size` - `child_num` feature를 추가
> 성능 향상이 있다. 위에 다 이 피처를 추가해서 실험해보자

In [282]:
X_train7 = X_train.copy()

In [283]:
X_train7['fc'] = X_train7['family_size'] - X_train7['child_num']

In [284]:
scores = cross_validate(LGBMClassifier(), X_train7, y_train,
                        scoring='neg_log_loss', return_train_score = True)
scores

{'fit_time': array([1.01455283, 0.96858191, 0.98320007, 0.9779036 , 0.9881382 ]),
 'score_time': array([0.0812192 , 0.08094454, 0.08763242, 0.08286309, 0.08171439]),
 'test_score': array([-0.7596808 , -0.7621518 , -0.76162517, -0.7616678 , -0.75863166]),
 'train_score': array([-0.67950466, -0.6781597 , -0.6762141 , -0.679316  , -0.67592511])}

In [285]:
np.mean(scores['test_score'])

-0.7607514496600121